body {
	margin: 0;
	padding: 0;
	background: none !important;
	background-image: none !important;
}
.pd20 {
	padding-top:0 !important;padding-bottom:0 !important;
}
.loader_main.fixed {
	top: 0
}
.ptop10 {
	padding-top:10px;
}