@font-face {
    font-family: 'Tondo';
    src: url('fonts/Tondo-Light.woff2') format('woff2'),
        url('fonts/Tondo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tondo';
    src: url('fonts/Tondo-Regular.woff2') format('woff2'),
        url('fonts/Tondo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tondo';
    src: url('fonts/Tondo-Bold.woff2') format('woff2'),
        url('fonts/Tondo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


